<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>My app</title>
</head>

<body>
<h1>Update student</h1>
<form  th:action="@{/student/update}" th:object="${student}" th:method="PUT">
    <label>
        Id:
        <input  type="number" readonly th:value="${student.getIdStudent()}" th:field="*{idStudent}">

    </label>
    <br>
    <label>
        First name:
        <input  type="text"  th:field="*{firstName}" >
        <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
    </label>
    <br>
    <label>
        Last name:
        <input  type="text"  th:field="*{lastName}">
        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
    </label>
    <br>
    <label>
        Age:
        <input type="number"   th:field="*{years}">
        <td th:if="${#fields.hasErrors('years')}" th:errors="*{years}">Name Error</td>
    </label>
    <br>
    <button type="submit">Update</button>
</form>

</body>
</html>